*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

:root{
    --se:1em;
    --ss:1%;
    --bg:#ade2ac;
    --mute:#00000000;
    --sixty:#131211;
    --thirty:#3E00A4;
    --acc:#DFBB1B;
}
body{
    background-color: var(--bg);
}